<!doctype html>
<HTML lang="en">
	<HEAD>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<title>Meet Assist</title>
		<style>
			/* Style for chat-bubble */
			.chat-bubble {
			  background-color: #f1f0f0;
			  border-radius: 10px;
			  padding: 10px;
			  margin-bottom: 10px;
			  position: relative;
			  max-width: 100%;
			}
			.chat-user{
				text-align: right;
			}
			.chat-container {
				height: 450px;
				overflow-y: auto;
			}
			#dwld-transcript{
				margin-left: 25px;
			}
			
			.response {
				display: inline-block;
				overflow: hidden;
				white-space: normal;
				/*width: 0;
				animation: typing-response 2s steps(30, end) forwards;*/
			}

			.typed {
				overflow: hidden;
				white-space: nowrap;
				border-right: 2px solid;
				width: 0;
				animation: typing-typed 1s steps(30, end) forwards, blinking 1s infinite;
			}
			@keyframes typing-typed {
				from { width: 0 }
				to { width: 16% }
			}

			@keyframes typing-response {
				from { width: 0 }
				to { width: 100% }
			}
			@keyframes blinking {
				0% {border-right-color: transparent}
				50% {border-right-color: black}
				100% {border-right-color: transparent}
			}

		</style>
	</HEAD>
	<BODY>
	<h1 align='center'>Video Summarizer</h1>
	<div class="container">
		<div class="row">
		<div class="col-md-6 mt-3 border p-2">
			<h4>Upload Video Recording</h4></br>
			<div class="form-group">
				<table><tr>
				<td><input type="file" class="form-control-file" name="recording" id="recording"></td>
				<td><button type="button" class="btn btn-primary" onclick="transcribeFile()"><i class="fas fa-upload"></i>&nbsp;Upload</button></td>
				<td><button type="button" class="btn btn-info" id="dwld-transcript" onclick="dwldTranscript()" disabled=true><i class="fas fa-download"></i>&nbsp;Transcript</button></td>
				</tr></table>
			</div>
			<!-- Loading Modal -->
			<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="loadingModalLabel">Uploading File...</h5>
					<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
					</div>
					<div class="modal-body">
					<div class="d-flex justify-content-center">
						<div class="ml-3">
						<p id="loadingMessage">Please wait while the file is being uploaded. It will take few minutes.</p>
						<p>Time elapsed: <span id="timer">0</span> seconds</p>
						</div>
					</div>
					</div>
				</div>
				</div>
			</div>
			<h4>Video Summary<h4>
			<textarea class="form-control" id="meet_summary" rows="15" disabled=True></textarea>
		</div>
		<!-- Chatbot UI -->
		<div class="col-md-6 mt-3 border p-2">
			<div class="d-flex justify-content-between align-items-center mb-3">
				<h4>Chatbot</h4>
				<button class="btn btn-secondary btn-sm" id="reset-chat" onclick="resetChat()" disabled=true><i class="fas fa-sync"></i>&nbsp;Reset</button>
			</div>
		  <div class="chat-container" id="chat-container">
			<!-- Chatbot messages go here -->
		  </div>
			<div class="input-group">
			  <input type="text" class="form-control" id="chat-input" placeholder="Type your message...">
			  <button type="button" class="btn btn-primary" onclick="userChat()" id="chat-send" disabled=true><i class="fas fa-paper-plane"></i>&nbsp;Send</button>
			</div>
		</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		function transcribeFile() {
			var fileInput = document.getElementById('recording');
			if (fileInput.files.length <= 0) {
				alert('Select a file before uploading.');
				return;
			}

  			var file = fileInput.files[0];

			var fileExtension = file.name.split('.').pop().toLowerCase();
			if (fileExtension !== 'mp4') {
				alert('Invalid file format!!\nOnly .mp4 files are allowed.');
				return;
			}

			var formData = new FormData();
			formData.append('file', file, file.name);
			
			$('#loadingModal').modal('show');
			// Start the timer when the modal is shown
			$('#loadingModal').on('shown.bs.modal', function () {
				var startTime = new Date();
				var timer = setInterval(function() {
					var elapsedSeconds = Math.floor((new Date() - startTime) / 1000);
					$('#timer').text(elapsedSeconds);
				}, 1000);

				// Stop the timer and hide the modal when the AJAX request is complete
				$.ajax({
					url: '/transcribe',
					type: 'POST',
					data: formData,
					contentType: false,
					processData: false,
					success: function(data) {
						clearInterval(timer);
						$('#loadingModal').modal('hide');
						var summary = data.summary;
						$('#meet_summary').val(summary);
						botChat("Hi, I am your virtual assistant. You can ask me any question about this video.", true);
						document.getElementById("reset-chat").disabled=false;
						document.getElementById("dwld-transcript").disabled=false;
						alert('File uploaded successfully.');
						},
					error: function() {
						$('#loadingModal').modal('hide');
						alert('Error uploading file');
					}
				});
			});
			/*$.ajax({
				url: '/transcribe',
				type: 'POST',
				data: formData,
				processData: false,
				contentType: false,
				success: function(data) {
					clearInterval(timer);
					$('#loadingModal').modal('hide');
					var summary = data.summary;
      				$('#meet_summary').val(summary);
					alert('File uploaded successfully.');
				},
				error: function() {
					alert('Error uploading file');
				},
				complete: function() {
				// Hide loading modal
				$('#loadingModal').modal('hide');
				}
			});*/
		};

		function userChat(){
			const inputText = document.getElementById("chat-input").value.trim();
			if (inputText == ''){
				return;
			};
			console.log(inputText);
			var chatContainer = document.getElementById("chat-container");
			// Create a new chat bubble
			var newChatBubble = document.createElement("div");
			newChatBubble.className = "chat-bubble chat-user";
			// Create the chat bubble content
			var chatBubbleHeader = document.createElement("p");
			chatBubbleHeader.innerHTML = '<i class="fas fa-user"></i>&nbsp; User';
			chatBubbleHeader.style.fontWeight = "bold";
			var chatBubbleContent = document.createElement("p");
			chatBubbleContent.innerText = inputText;
			// Append the chat bubble content to the chat bubble
			newChatBubble.appendChild(chatBubbleHeader);
			newChatBubble.appendChild(chatBubbleContent);
			// Append the new chat bubble to the chat messages container
			chatContainer.appendChild(newChatBubble);
			$('#chat-input').val("");
			//
			var chatBubbleTypingContent = document.createElement("p");
			chatBubbleTypingContent.className = "typed";
			chatBubbleTypingContent.innerText = "Processing.....";
			chatBubbleTypingContent.style.fontSize = "15px";
			
			chatContainer.appendChild(chatBubbleTypingContent);
			chatContainer.scrollTop = chatContainer.scrollHeight;
			document.getElementById("chat-send").disabled=true;
			sendToBot(inputText);
			return;
		};
		
		function sendToBot(inputText){
			$.ajax({
				url: "/chatbot",
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify({"input_text": inputText}),
				success: function(response) {
					// Handle the response from the Flask endpoint
					let botResponse = response["response"];
					// Update the chat UI with the bot's response
					botChat(botResponse);
					document.getElementById("chat-container").scrollTop = document.getElementById("chat-container").scrollHeight;
				},
				error: function() {
					alert('Some Error Occurred. Try again');
					document.getElementById("chat-send").disabled=false;
				}
			});
		};

		function botChat(botResponse,first=false){
			//remove the loading screen
			if (first == false){
				let typedElements = document.getElementsByClassName("typed");
				let lastTypedElement = Array.from(typedElements).pop();
				lastTypedElement.remove();
			};
			//
			var chatContainer = document.getElementById("chat-container");
			var newChatBubble = document.createElement("div");
			newChatBubble.className = "chat-bubble chat-bot";
			var chatBubbleHeader = document.createElement("p");
			chatBubbleHeader.innerHTML = '<i class="fas fa-robot"></i>&nbsp; Bot';
			chatBubbleHeader.style.fontWeight = "bold";
			var chatBubbleContent = document.createElement("p");
			chatBubbleContent.className = "response";
			chatBubbleContent.innerText = botResponse;
			// Append the chat bubble content to the chat bubble
			newChatBubble.appendChild(chatBubbleHeader);
			newChatBubble.appendChild(chatBubbleContent);
			// Append the new chat bubble to the chat messages container
			chatContainer.appendChild(newChatBubble);
			document.getElementById("chat-send").disabled=false;
			return;
		};

		function dwldTranscript(){
			$.ajax({
				url: "/download",
				type: "GET",
				success: function(response) {
					// Handle the response from the Flask endpoint
					var blob = new Blob([response], {type: "text/plain"});

					// Create a temporary URL from the Blob object
					var url = URL.createObjectURL(blob);

					// Create a temporary anchor element
					var link = document.createElement("a");
					link.href = url;

					// Set the download attribute to the file name
					link.download = "transcript.txt";

					// Trigger a click event on the anchor element
					link.click();

					// Clean up
					URL.revokeObjectURL(url);
					return;
				},
				error: function() {
					alert('Some Error Occurred. Try again');
					return;
				}
			});
		};

		function resetChat(){
			$.ajax({
				url: "/reset",
				type: "GET",
				success: function(response) {
					// Handle the response from the Flask endpoint
					const parentDiv = document.getElementById("chat-container");
					while (parentDiv.firstChild) {
					parentDiv.removeChild(parentDiv.firstChild);
					};
					botChat("Hi, I am your virtual assistant. You can ask me any question about this video.", true);
					document.getElementById("chat-container").scrollTop = document.getElementById("chat-container").scrollHeight;
					return;
				},
				error: function() {
					alert('Some Error Occurred. Try again');
					return;
				}
			});
		};
	</script>
	</BODY>
</HTML>